/* navigation bar */
.navigation-bar > nav {
    padding: 20px;
    position: fixed; 
    width: 100%;
    z-index: 2;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.644);
    background-color: #000000 !important;
}

.navigation-bar nav .navbar-brand h3{
    font-family: 'Darumadrop One', cursive;
    background-image: linear-gradient(
        to right,
        #ffffff,
        #ffffff 50%,
        rgb(163, 163, 163) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.navigation-bar nav .navbar-brand h3:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.navigation-bar nav:hover .navbar-brand h3{
    background-position: 0;
}

.navigation-bar nav:hover .navbar-brand h3::before{
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link.active {
    background-color: #fff;
    color: #000;
}