{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navigation.css' %}">
<link rel="stylesheet" href="{% static 'css/home_common.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/detail_blog.css' %}">
{% endblock %}

{% block body %}
<div class="navigation-bar">
    {% include "nav.html" %}
</div>

<section id="content" class="clearfix">
    {{ blog.body|safe }}
</section>


{% endblock %}

{% block js %}
<script>
    $(function () {
        let pageTitle = $('head title');
        pageTitle.html('Blog | {{ blog.title|title }}');
    })
</script>
{% endblock %}