{% include 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_common.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_blogs.css' %}">
{% endblock %}

{% block body %}

<div class="navigation-bar">
    {% include "nav.html" %}
</div>

<main>
   <div class="container blog-container">
      <div class="row">
         <div class="col col-12 col-lg-8">
            <h2 class="eyebrow">Latest Posts</h2>

            {% for blog in blogs %}
               <article class="blog-listing">
                  <header class="blog-listing-header">
                     <h1 class="blog-listing-heading">
                        <a href="{% url 'blog_detail' blog_id=blog.id %}">{{ blog.title }}</a>
                     </h1>
                  </header>
                  <ul class="blog-listing-meta">
                     <li class="blog-listing-date">
                        <span class="sr-only">Last updated on</span>
                        <time>{{ blog.updated_at }}</time>
                     </li>
                  </ul>
                  <div class="blog-listing-body">
                     <p>{{ blog.description }}</p>
                  </div>
                  {% if blog.categories.all %}
                  <div class="topics-list">
                     <i class="fas fa-tags fa-sm"></i>

                     {% for cat in blog.categories.all %}
                        <a class="btn btn-light btn-xs topic" href="#">
                           {{ cat.name }}
                        </a>
                     {% endfor %}

                  </div>
                  {% endif %}
               </article>
            {% endfor %}
            <div id="pagination">
                {% if page_obj|length > 0 %}
                    <div class="my-4">
                        {% if page_obj.has_previous %}
                            <a class="btn button-theme btn-sm page_number_link"
                                href="{{ page_obj.previous_page_number }}">
                                Previous Page
                            </a>
                        {% else %}
                            <a class="btn button-theme btn-sm disabled">
                                Previous Page
                            </a>
                        {% endif %}

                        {% for page_number in page_obj.adjusted_elided_pages %}
                            {% if page_number == page_obj.paginator.ELLIPSIS %}
                                {{ page_number }}
                            {% else %}
                                <a class="page_number_link"
                                    href="{{ page_number }}">

                                    {% if page_number == page_obj.number %}
                                        <span class="btn btn-sm selected">{{ page_number }}</span>
                                    {% else %}
                                        <span class="btn btn-sm">{{ page_number }}</span>
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="btn button-theme btn-sm page_number_link"
                                href="{{ page_obj.next_page_number }}">
                                Next Page
                            </a>
                        {% else %}
                            <a class="btn button-theme btn-sm disabled">
                                Next Page
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
         </div>
         <div class="col col-12 col-lg-4 blog-sidebar-col">
            <div class="blog-sidebar" data-a-section="Sidebar">
               <aside class="card-sidebar all-topics">
                  <h3 class="eyebrow">Categories</h3>
                  <nav class="topics-list">
                        {% for cat in categories %}
                            <a class="btn btn-light btn-xs topic" href="#">{{ cat.name }}</a>
                        {% endfor %}
                  </nav>
               </aside>
            </div>
         </div>
      </div>
   </div>
</main>


{% endblock %}

{% block js %}
<script>
    $(function () {
        let navItem = $('.nav-item .nav-link');
        for (let i=0; i < navItem.length; i++) {
            $(navItem[i]).removeClass('active');
        }
        $($('.nav-link')[2]).addClass('active');

        let mainQueryParams = new URLSearchParams();
        
        let page_number_links = $('.page_number_link');
        if(page_number_links.length) {
            for (let i=0; i<page_number_links.length; i++) {
                let queryParams = mainQueryParams
                queryParams.set("page", $(page_number_links[i]).attr('href'));
                let next_url = location.protocol + '//' + location.host + location.pathname + "?" + queryParams.toString()
                $(page_number_links[i]).attr('href', next_url);
            }
        }
    })

</script>
{% endblock %}
